<p>Date: <%= flight.start.to_date %></p>
<p>Departure Airport: <%= "#{flight.departure_airport.code} - #{flight.departure_airport.city}" %></p>
<p>Arrival Airport: <%= "#{flight.arrival_airport.code} - #{flight.arrival_airport.city}" %></p>