<h1>Your Booking is Successful</h1>
<%= render "flight_details", flight: Flight.find(@booking.flight_id) %>
<dl>
  <% @booking.passengers.each_with_index do |passenger, index| %>
    <dt><b><%= "Passenger #{index + 1}" %></b></dt>
    <dd><%= "Name: #{passenger.name}" %></dd>
    <dd><%= "Email: #{passenger.email}" %></dd>
  <% end %>
</dl>
