.booking-details-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
}

.flight-details {
  display: grid;
  width: 80%;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
}

.flight-details div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  grid-row: 1;
}

.booking-form {
  display: flex;
  justify-content: center;
}

.booking-form form {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: center;
}

.passenger-container-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.passenger-container {
  display: flex;
  gap: 15px;
  flex-direction: column;
  padding: 50px;
  border-color: rgb(217, 219, 224);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  flex: 1;
  align-items: center;
}

.passenger-container div {
  display: flex;
  justify-content: left;
  gap: 10px;
}

.passenger-container div p {
  font-weight: 600;
}

.button-container {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}

@media only screen and (max-width: 1024px) {
  .flight-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .passenger-container div {
    justify-content: left;
  }
}
