.booking-section.confirmed {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.booking-section.confirmed dl {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
